In [3]:
#define the function say hello
def say_hello():
    print("Hello!")

In [9]:
#call function
say_hello()

Hello!

In [17]:
# define say something so it prints whatever is passed as 
def say_something(something):
    print(something)

In [18]:
say_something("Hello World")

Hello World

In [19]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [30]:
passing_math_count = 29370
total_student_count = 39170

In [34]:
def passing_math_percent(passing_math_count, total_student_count):
    return passing_math_count / float(total_student_count)*100

In [35]:
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [42]:
#using map function
# list grades
my_grades = ['B', 'C', 'B', 'D']

In [43]:
#convert my grades to series 
import pandas as pd 
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [44]:
#change grades by one letter 
my_grades.map({'B':'A', 'C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [45]:
#using format() function
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print('{:.0f}'.format(grade))

92
85
87
98

In [46]:
#chaining map and format functions
#convert the numerical grades to a series 
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [47]:
my_grades.map('{:.0f}'.format)

0    92
1    85
2    87
3    98
dtype: object

In [ ]:
df['column']=df['column'].map('{:,}'.format)